.calculator{
  background-color: blue;
  height: 500px;
  width: 500px;
}

.screen{
  background-color: pink;
  height: 100px;
  width: 500px;
}

.button{
  background-color: green;
  height: 100px;
  width: 100px;
  border: 1px;
  position: flex;
 overflow-x: inherit;
}

.keybad{
  position: absolute;
  margin-top: 100px;
}